{
  "swagger": "2.0",
  "info": {
    "title": "Document AI API",
    "description": "Extract structured data including named fields, tables, barcodes, classifications, and summaries from common document formats, scanned documents, and photos of documents using AI.  Also supports handwriting and low quality photos and scans, as well as digital document input.  Supports a wide range of languages, and is able to analyze and infer semantic structure from the visual layout for documents.",
    "termsOfService": "https://portal.cloudmersive.com/terms-of-service",
    "contact": {
      "name": "Cloudmersive",
      "url": "https://www.cloudmersive.com",
      "email": "support@cloudmersive.com"
    },
    "version": "v1"
  },
  "host": "api.cloudmersive.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/document-ai/document/analyze/enforce-policy": {
      "post": {
        "tags": [
          "Analyze"
        ],
        "summary": "Enforce Policies to a Document to allow or block it using Advanced AI",
        "description": "Enforce Policies to a Document to allow or block it using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.  Consumes 100 API calls per page.",
        "operationId": "ApplyRules",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Input request, including document and policy rules",
            "schema": {
              "$ref": "#/definitions/DocumentPolicyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentPolicyResult"
            }
          }
        }
      }
    },
    "/document-ai/document/analyze/answer-questions": {
      "post": {
        "tags": [
          "Analyze"
        ],
        "summary": "Answer Questions about a Document in a structured way using Advanced AI",
        "description": "Answer boolean (yes/no), multiple-choice and free-response questions about the contents of a document using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.  Consumes 100 API calls per page.",
        "operationId": "AnswerQuestions",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Input request, including document and questions",
            "schema": {
              "$ref": "#/definitions/DocumentQuestionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentQuestionAnswersResult"
            }
          }
        }
      }
    },
    "/document-ai/document/extract/text": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Extract Text from a Document using AI",
        "description": "Extract raw text from a document using AI.  Input document formats supported include DOCX, PDF, XLSX, PPTX, EML, MSG, JPG, PNG and WEBP.  Supports a wide range of languages.  Consumes 100 API calls per page.",
        "operationId": "ExtractText",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images.  Set to Deterministic to directly extract text from digital documents without using AI.",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "InputFile",
            "description": "Input document, or photos of a document, to extract data from",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtractTextResponse"
            }
          }
        }
      }
    },
    "/document-ai/document/extract/fields": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Extract Field Values from a Document using AI",
        "description": "Extract Field Values (e.g. Invoice Number, Invoice Date, Business Card Phone Number, etc.) from a document using AI.  Input document formats supported include DOCX, PDF, XLSX, PPTX, EML, MSG, JPG, PNG and WEBP.  Consumes 100 API calls per page.",
        "operationId": "ExtractFields",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "FieldNames",
            "description": "Desired fields to extract, comma separated",
            "type": "string"
          },
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "InputFile",
            "description": "Input document, or photos of a document, to extract data from",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtractFieldsResponse"
            }
          }
        }
      }
    },
    "/document-ai/document/extract/fields/advanced": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Extract Field Values from a Document using Advanced AI",
        "description": "Extract Field Values (e.g. Invoice Number, Invoice Date, Business Card Phone Number, etc.) from a document using Advanced AI.  Input document formats supported include DOCX, PDF, XLSX, PPTX, EML, MSG, JPG, PNG and WEBP.  Consumes 100 API calls per page.",
        "operationId": "ExtractFieldsAdvanced",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Input request, including document file as byte array, and information on which fields to extract",
            "schema": {
              "$ref": "#/definitions/AdvancedExtractFieldsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtractFieldsAdvancedResponse"
            }
          }
        }
      }
    },
    "/document-ai/document/extract/tables": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Extract Tables of Data from a Document using AI",
        "description": "Extract Tables, comprised of rows and columns of data, from a document using AI.  Input document formats supported include DOCX, PDF, XLSX, PPTX, EML, MSG, JPG, PNG and WEBP.  Consumeds 100 API calls per page.",
        "operationId": "ExtractTables",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "InputFile",
            "description": "Input document, or photos of a document, to extract data from",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtractTablesResponse"
            }
          }
        }
      }
    },
    "/document-ai/document/extract/barcodes": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Extract Barcodes of from a Document using AI",
        "description": "Extract all barcodes from a document using AI.  Input document formats supported include DOCX, PDF, XLSX, PPTX, EML, MSG, JPG, PNG, HEIC and WEBP.  Consumes 100 API calls per page.",
        "operationId": "ExtractBarcodes",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "InputFile",
            "description": "Input document, or photos of a document, to extract data from",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtractBarcodesAiResponse"
            }
          }
        }
      }
    },
    "/document-ai/document/extract/all": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Extract All Fields and Tables of Data from a Document using AI",
        "description": "Extract all Fields and Tables, comprised of rows and columns of data, from a document using AI.  Input document formats supported include DOCX, PDF, XLSX, PPTX, EML, MSG, JPG, PNG and WEBP.  Consumes 100 API calls per page.",
        "operationId": "ExtractAllFieldsAndTables",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
            "type": "string"
          },
          {
            "in": "header",
            "name": "preprocessing",
            "description": "Optional: Set the level of image pre-processing to enhance accuracy.  Possible values are 'Auto' (default), 'Paged', and 'Compatability'.  Use 'Paged' to treat each page as a separate document for extraction (requires Advanced recognitionMode).  Default is Auto.",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "InputFile",
            "description": "Input document, or photos of a document, to extract data from",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtractFieldsAndTablesResponse"
            }
          }
        }
      }
    },
    "/document-ai/document/extract/classify": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Extract Classification or Category from a Document using AI",
        "description": "Extract Classification or Category (e.g. Invoice, Receipt, Tax Form, or Form 1040, Form 1040 EZ, etc.) from a document using AI.  Input document formats supported include DOCX, PDF, XLSX, PPTX, EML, MSG, JPG, PNG and WEBP.  Consumes 100 API calls per page.",
        "operationId": "ExtractClassification",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Categories",
            "description": "Desired classification to extract",
            "type": "string"
          },
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "InputFile",
            "description": "Input document, or photos of a document, to extract data from",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentClassificationResult"
            }
          }
        }
      }
    },
    "/document-ai/document/extract/classify/advanced": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Extract Classification or Category from a Document using Advanced AI",
        "description": "Extract Classification or Category (e.g. Invoice, Receipt, Tax Form, or Form 1040, Form 1040 EZ, etc.) from a document using Advanced AI.  Input document formats supported include DOCX, PDF, XLSX, PPTX, EML, MSG, JPG, PNG and WEBP.  Consumes 100 API calls per page.",
        "operationId": "ExtractClassificationAdvanced",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Input request to perform the classification on",
            "schema": {
              "$ref": "#/definitions/AdvancedExtractClassificationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentAdvancedClassificationResult"
            }
          }
        }
      }
    },
    "/document-ai/document/extract/summary": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Extract Summary from a Document using AI",
        "description": "Creates a 1 paragraph summary of the input document using Artificial Intelligence.  Input document formats supported include DOCX, PDF, XLSX, PPTX, EML, MSG, JPG, PNG and WEBP.  Consumes 100 API calls per page.",
        "operationId": "ExtractSummary",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
            "type": "string"
          },
          {
            "in": "header",
            "name": "language",
            "description": "Optional; Three-letter language code (ISO 639) for the summary.  Default is ENG.  Possible language codes are: AAR,ABK,ACE,ACH,ADA,ADY,AFA,AFH,AFR,AIN,AKA,AKK,ALB,ALE,ALG,ALT,AMH,ANG,ANP,APA,ARA,ARC,ARG,ARM,ARN,ARP,ART,ARW,ASM,AST,ATH,AUS,AVA,AVE,AWA,AYM,AZE,BAD,BAI,BAK,BAL,BAM,BAN,BAQ,BAS,BAT,BEJ,BEL,BEM,BEN,BER,BHO,BIH,BIK,BIN,BIS,BLA,BNT,BOD,BOS,BRA,BRE,BTK,BUA,BUG,BUL,BUR,BYN,CAD,CAI,CAR,CAT,CAU,CEB,CEL,CES,CHA,CHB,CHE,CHG,CHI,CHK,CHM,CHN,CHO,CHP,CHR,CHU,CHV,CHY,CMC,CNR,COP,COR,COS,CPE,CPF,CPP,CRE,CRH,CRP,CSB,CUS,CYM,CZE,DAK,DAN,DAR,DAY,DEL,DEN,DEU,DGR,DIN,DIV,DOI,DRA,DSB,DUA,DUM,DUT,DYU,DZO,EFI,EGY,EKA,ELL,ELX,ENG,ENM,EPO,EST,EUS,EWE,EWO,FAN,FAO,FAS,FAT,FIJ,FIL,FIN,FIU,FON,FRA,FRE,FRM,FRO,FRR,FRS,FRY,FUL,FUR,GAA,GAY,GBA,GEM,GEO,GER,GEZ,GIL,GLA,GLE,GLG,GLV,GMH,GOH,GON,GOR,GOT,GRB,GRC,GRE,GRN,GSW,GUJ,GWI,HAI,HAT,HAU,HAW,HEB,HER,HIL,HIM,HIN,HIT,HMN,HMO,HRV,HSB,HUN,HUP,HYE,IBA,IBO,ICE,IDO,III,IJO,IKU,ILE,ILO,INA,INC,IND,INE,INH,IPK,IRA,IRO,ISL,ITA,JAV,JBO,JPN,JPR,JRB,KAA,KAB,KAC,KAL,KAM,KAN,KAR,KAS,KAT,KAU,KAW,KAZ,KBD,KHA,KHI,KHM,KHO,KIK,KIN,KIR,KMB,KOK,KOM,KON,KOR,KOS,KPE,KRC,KRL,KRO,KRU,KUA,KUM,KUR,KUT,LAD,LAH,LAM,LAO,LAT,LAV,LEZ,LIM,LIN,LIT,LOL,LOZ,LTZ,LUA,LUB,LUG,LUI,LUN,LUO,LUS,MAC,MAD,MAG,MAH,MAI,MAK,MAL,MAN,MAO,MAP,MAR,MAS,MAY,MDF,MDR,MEN,MGA,MIC,MIN,MIS,MKD,MKH,MLG,MLT,MNC,MNI,MNO,MOH,MON,MOS,MRI,MSA,MUL,MUN,MUS,MWL,MWR,MYA,MYN,MYV,NAH,NAI,NAP,NAU,NAV,NBL,NDE,NDO,NDS,NEP,NEW,NIA,NIC,NIU,NLD,NNO,NOB,NOG,NON,NOR,NQO,NSO,NUB,NWC,NYA,NYM,NYN,NYO,NZI,OCI,OJI,ORI,ORM,OSA,OSS,OTA,OTO,PAA,PAG,PAL,PAM,PAN,PAP,PAU,PEO,PER,PHI,PHN,PLI,POL,PON,POR,PRA,PRO,PUS,QUE,RAJ,RAP,RAR,ROA,ROH,ROM,RON,RUM,RUN,RUP,RUS,SAD,SAG,SAH,SAI,SAL,SAM,SAN,SAS,SAT,SCN,SCO,SEL,SEM,SGA,SGN,SHN,SID,SIN,SIO,SIT,SLA,SLK,SLO,SLV,SMA,SME,SMI,SMJ,SMN,SMO,SMS,SNA,SND,SNK,SOG,SOM,SON,SOT,SPA,SQI,SRD,SRN,SRP,SRR,SSA,SSW,SUK,SUN,SUS,SUX,SWA,SWE,SYC,SYR,TAH,TAI,TAM,TAT,TEL,TEM,TER,TET,TGK,TGL,THA,TIB,TIG,TIR,TIV,TKL,TLH,TLI,TMH,TOG,TON,TPI,TSI,TSN,TSO,TUK,TUM,TUP,TUR,TUT,TVL,TWI,TYV,UDM,UGA,UIG,UKR,UMB,UND,URD,UZB,VAI,VEN,VIE,VOL,VOT,WAK,WAL,WAR,WAS,WEL,WEN,WLN,WOL,XAL,XHO,YAO,YAP,YID,YOR,YPK,ZAP,ZBL,ZEN,ZGH,ZHA,ZHO,ZND,ZUL,ZUN,ZXX,ZZA.",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "InputFile",
            "description": "Input document, or photos of a document, to extract data from",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SummarizeDocumentResponse"
            }
          }
        }
      }
    },
    "/document-ai/document/extract/split": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Intelligently Split a Combined Document into Sub-Documents using AI",
        "description": "Analyzes a document containing multiple sub-documents (such as a scanned batch of ID cards, forms, or mixed documents) and intelligently splits it into separate sub-documents.  Uses AI to detect document boundaries based on visual content, headers, names, and document types.  Returns the page ranges and PDF bytes for each identified sub-document.  Input document formats supported include DOCX, PDF, XLSX, PPTX, EML, MSG, JPG, PNG and WEBP.  Consumes 100 API calls per page.",
        "operationId": "ExtractSplit",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "InputFile",
            "description": "Input document containing multiple sub-documents to split",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SplitDocumentResponse"
            }
          }
        }
      }
    },
    "/document-ai/document/batch-job/extract/text": {
      "post": {
        "tags": [
          "RunBatchJob"
        ],
        "summary": "Extract Text from a Document using AI as a Batch Job",
        "description": "Creates an async batch job for processing a large document as an AI batch job.  Input document formats supported include DOCX, PDF, PNG and JPG.  Supports a wide range of languages.  Requires Managed Instance or Private Cloud deployment.",
        "operationId": "ExtractTextFromDocumentBatchJob",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "InputFile",
            "description": "Input document, or photos of a document, to extract data from",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtractDocumentBatchJobResult"
            }
          }
        }
      }
    },
    "/document-ai/document/batch-job/extract/fields/advanced": {
      "post": {
        "tags": [
          "RunBatchJob"
        ],
        "summary": "Extract Field Values from a Document using Advanced AI as a Batch Job",
        "description": "Creates an async batch job for processing a large document as an AI batch job.  Extract Field Values (e.g. Invoice Number, Invoice Date, Business Card Phone Number, etc.) from a document using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.  Requires Managed Instance or Private Cloud deployment.",
        "operationId": "ExtractFieldsFromDocumentAdvancedBatchJob",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Input document and parameters",
            "schema": {
              "$ref": "#/definitions/AdvancedExtractFieldsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtractDocumentBatchJobResult"
            }
          }
        }
      }
    },
    "/document-ai/document/batch-job/extract/all": {
      "post": {
        "tags": [
          "RunBatchJob"
        ],
        "summary": "Extract All Fields and Tables of Data from a Document using AI as a Batch Job",
        "description": "Creates an async batch job for processing a large document as an AI batch job.  Extract all Fields and Tables, comprised of rows and columns of data, from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.  Requires Managed Instance or Private Cloud deployment.",
        "operationId": "ExtractAllFieldsAndTablesFromDocumentBatchJob",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "InputFile",
            "description": "Input document, or photos of a document, to extract data from",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtractDocumentBatchJobResult"
            }
          }
        }
      }
    },
    "/document-ai/document/batch-job/extract/classify": {
      "post": {
        "tags": [
          "RunBatchJob"
        ],
        "summary": "Extract Classification or Category from a Document using AI as a Batch Job",
        "description": "Creates an async batch job for processing a large document as an AI batch job.  Extract Classification or Category (e.g. Invoice, Receipt, Tax Form, or Form 1040, Form 1040 EZ, etc.) from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.  Requires Managed Instance or Private Cloud deployment.",
        "operationId": "ExtractClassificationFromDocumentBatchJob",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Categories",
            "description": "Desired classification to extract",
            "type": "string"
          },
          {
            "in": "header",
            "name": "recognitionMode",
            "description": "Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "InputFile",
            "description": "Input document, or photos of a document, to extract data from",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtractDocumentBatchJobResult"
            }
          }
        }
      }
    },
    "/document-ai/document/batch-job/batch-job/status": {
      "get": {
        "tags": [
          "RunBatchJob"
        ],
        "summary": "Get the status and result of an Extract Document Batch Job",
        "description": "Returns the result of the Async Job - possible states can be STARTED or COMPLETED.  This API is only available for Cloudmersive Managed Instance and Private Cloud deployments.",
        "operationId": "GetAsyncJobStatus",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "AsyncJobID",
            "description": "Job ID for the batch job to get the status of",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtractDocumentJobStatusResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AdvancedExtractClassificationRequest": {
      "description": "Request to perform an AI document classification on a document",
      "type": "object",
      "properties": {
        "InputFile": {
          "format": "byte",
          "description": "Input document file to perform the operation on as a byte array",
          "type": "string"
        },
        "Categories": {
          "description": "Possible categories for the document",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentCategories"
          }
        },
        "Preprocessing": {
          "description": "Optional: Set the level of image pre-processing to enhance accuracy.  Possible values are 'Auto', 'SmoothEdges', 'SmoothEdgesPlus', 'Compatability' and 'None'.  Default is Auto.  Set to SmoothEdges to smooth harsh edges in the input image to enhance recognition accuracy.  Set to SmoothEdgesPlus to smooth harsh edges to a higher degree.  Set to Compatability for maximum PDF feature compatability.",
          "type": "string"
        },
        "ResultCrossCheck": {
          "description": "Optional: Set the level of output accuracy cross-checking to perform on the input.  Possible values are 'None', 'Advanced', 'Ultra' and 'Hyper'.  Default is None.  Ultra and Hyper will produce the highest accuracy but at the cost of longer processing times.",
          "type": "string"
        },
        "MaximumPagesProcessed": {
          "format": "int32",
          "description": "Optional: Limit the number of pages processed",
          "type": "integer"
        },
        "RotateImageDegrees": {
          "format": "double",
          "description": "Optional: Rotate the input image before recognition by the specified number of degrees; valid values range from -360 to +360.",
          "type": "number"
        }
      },
      "additionalProperties": false
    },
    "AdvancedExtractFieldsRequest": {
      "description": "Request to perform an AI field extraction on a document",
      "type": "object",
      "properties": {
        "InputFile": {
          "format": "byte",
          "description": "Input document file to perform the operation on as a byte array",
          "type": "string"
        },
        "FieldsToExtract": {
          "description": "Fields to extract from the document",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FieldToExtract"
          }
        },
        "MaximumPagesProcessed": {
          "format": "int32",
          "description": "Optional: Limit the number of pages processed",
          "type": "integer"
        },
        "Preprocessing": {
          "description": "Optional: Set the level of image pre-processing to enhance accuracy.  Possible values are 'Auto', 'SmoothEdges', 'SmoothEdgesPlus', 'ContrastEdges', 'ContrastEdgesPlus', 'Invert', 'Binarize', 'Compatability' and 'None'.  Default is Auto.  Set to SmoothEdges to smooth harsh edges in the input image to enhance recognition accuracy.  Set to SmoothEdgesPlus to smooth harsh edges to a higher degree.  Set to ContrastEdges and ContrastEdgesPlus to enhance contrast and readability for low quality black and white or grayscale images.  Set to Invert to invert the input image.  Set to Binarize to binarize the input image.  Set to Compatability for maximum PDF feature compatability.",
          "type": "string"
        },
        "ResultCrossCheck": {
          "description": "Optional: Set the level of output accuracy cross-checking to perform on the input.  Possible values are 'None', 'Advanced' and 'Ultra'.  Default is None.  Ultra will produce the highest accuracy but at the cost of longer processing times.",
          "type": "string"
        },
        "RotateImageDegrees": {
          "format": "double",
          "description": "Optional: Rotate the input image before recognition by the specified number of degrees; valid values range from -360 to +360.",
          "type": "number"
        }
      },
      "additionalProperties": false
    },
    "DocumentAdvancedClassificationResult": {
      "description": "Result of classifying a document using AI",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "DocumentCategoryResult": {
          "description": "Category applied to the document; if a category could not be identified then \"other\" will be used.  Spaces are replaced with underscores.",
          "type": "string"
        },
        "ConfidenceScore": {
          "format": "double",
          "description": "Confidence score between 0.0 and 1.0, where values > 0.8 indicate high confidence",
          "type": "number"
        }
      },
      "additionalProperties": false
    },
    "DocumentCategories": {
      "description": "Document category option",
      "type": "object",
      "properties": {
        "CategoryName": {
          "description": "Name of the classification",
          "type": "string"
        },
        "CategoryDescription": {
          "description": "Optional but recommended: Description of the classification in natural langugage",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DocumentClassificationResult": {
      "description": "Result of classifying a document using AI",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "DocumentCategoryResult": {
          "description": "Category applied to the document; if a category could not be identified then \"other\" will be used.  Spaces are replaced with underscores.",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DocumentPolicyRequest": {
      "description": "Request to analyze a document",
      "type": "object",
      "properties": {
        "InputFile": {
          "format": "byte",
          "description": "Input file as a byte array",
          "type": "string"
        },
        "Rules": {
          "description": "Rules to apply to the document",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyRule"
          }
        },
        "RecognitionMode": {
          "description": "Optional; Recognition mode - Normal (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DocumentPolicyResult": {
      "description": "Result of performing a document policy enforcement operation",
      "type": "object",
      "properties": {
        "CleanResult": {
          "description": "True if the document complies with all of the policies, and false if it does not",
          "type": "boolean"
        },
        "RiskScore": {
          "format": "double",
          "description": "Risk score between 0.0 and 1.0 where values above 0.5 are increasing levels of risk",
          "type": "number"
        },
        "RuleViolations": {
          "description": "Policy violations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyRuleViolation"
          }
        }
      },
      "additionalProperties": false
    },
    "DocumentQuestionAnswerItem": {
      "description": "Answer to an input question",
      "type": "object",
      "properties": {
        "QuestionId": {
          "description": "ID of the input question",
          "type": "string"
        },
        "AnswerValue": {
          "description": "Answer response value, formatted as a string, for this question.  Boolean questions will return YES or NO.",
          "type": "string"
        },
        "AnswerRationale": {
          "description": "Rationale explaining why this answer was given",
          "type": "string"
        },
        "ConfidenceScore": {
          "format": "double",
          "description": "Confidence score between 0.0 and 1.0 where values above 0.8 indicate high confidence",
          "type": "number"
        }
      },
      "additionalProperties": false
    },
    "DocumentQuestionAnswersResult": {
      "description": "Result of performing a document question answering operation",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation was completed successfully, or false otherwise",
          "type": "boolean"
        },
        "ConfidenceScore": {
          "format": "double",
          "description": "Confidence score between 0.0 and 1.0 where values above 0.8 indicate high confidence",
          "type": "number"
        },
        "AnswerResults": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentQuestionAnswerItem"
          }
        }
      },
      "additionalProperties": false
    },
    "DocumentQuestionBoolean": {
      "description": "Boolean document question",
      "type": "object",
      "properties": {
        "QuestionId": {
          "description": "Unique ID of the question, e.g. 1 or 2A",
          "type": "string"
        },
        "QuestionText": {
          "description": "Question in natural language to ask of the document where the answer resolves to YES or NO, e.g. 'Is this document signed and countersigned by both parties?'",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DocumentQuestionChoiceItem": {
      "description": "Possible response choice for a multiple-choice question",
      "type": "object",
      "properties": {
        "ChoiceId": {
          "description": "Unique ID of the response choice, e.g. 3C",
          "type": "string"
        },
        "ChoiceText": {
          "description": "Description text of this choice, e.g. 'Delaware'",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DocumentQuestionFreeResponse": {
      "description": "Free response question",
      "type": "object",
      "properties": {
        "QuestionId": {
          "description": "Unique ID of the question, e.g. 7 or 5A",
          "type": "string"
        },
        "QuestionText": {
          "description": "Question in natural language to ask of the document where the answer resolves to a free response, e.g. 'Who is the counterparty in this agreement?'",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DocumentQuestionMultipleChoice": {
      "description": "Multiple choice question",
      "type": "object",
      "properties": {
        "QuestionId": {
          "description": "Unique ID of the question, e.g. 1 or 2A",
          "type": "string"
        },
        "QuestionText": {
          "description": "Question in natural language to ask of the document where the answer resolves to one of a fixed number of provided choices, e.g. 'What is the governing law of this agreement?'",
          "type": "string"
        },
        "ResponseChoices": {
          "description": "Possible response choices for the multiple-choice question",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentQuestionChoiceItem"
          }
        }
      },
      "additionalProperties": false
    },
    "DocumentQuestionsRequest": {
      "type": "object",
      "properties": {
        "InputFile": {
          "format": "byte",
          "description": "Input file as a byte array",
          "type": "string"
        },
        "QuestionsYesNo": {
          "description": "Optional: Yes or No boolean questions to answer about the document",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentQuestionBoolean"
          }
        },
        "QuestionsMultipleChoice": {
          "description": "Optional: Multiple choice questions to answer about the document",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentQuestionMultipleChoice"
          }
        },
        "QuestionsFreeResponse": {
          "description": "Optional: Free response questions to answer about the document",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentQuestionFreeResponse"
          }
        },
        "RecognitionMode": {
          "description": "Optional; Recognition mode - Normal (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ExtractBarcodesAiResponse": {
      "description": "Result of extracting barcodes from a document",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "BarcodeResults": {
          "description": "Table value results from the extraction operation",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtractedBarcodeItem"
          }
        }
      },
      "additionalProperties": false
    },
    "ExtractDocumentBatchJobResult": {
      "description": "Result of performing a split document batch job",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "AsyncJobID": {
          "description": "When creating a job, an Async Job ID is returned.  Use the GetAsyncJobStatus API to check on the status of this job using the AsyncJobID and get the result when it finishes",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ExtractDocumentJobStatusResult": {
      "description": "Result of performing a batch job operation",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if the operation to check the status of the job was successful, false otherwise",
          "type": "boolean"
        },
        "AsyncJobStatus": {
          "description": "Returns the job status of the Async Job, if applicable.  Possible states are STARTED and COMPLETED",
          "type": "string"
        },
        "AsyncJobID": {
          "description": "Job ID",
          "type": "string"
        },
        "ExtractTextResult": {
          "$ref": "#/definitions/ExtractTextResponse"
        },
        "ExtractFieldsAndTablesResult": {
          "$ref": "#/definitions/ExtractFieldsAndTablesResponse"
        },
        "ExtractFieldsResult": {
          "$ref": "#/definitions/ExtractFieldsResponse"
        },
        "ExtractClassificationResult": {
          "$ref": "#/definitions/DocumentClassificationResult"
        },
        "ErrorMessage": {
          "description": "Error message (if any)",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ExtractFieldsAdvancedResponse": {
      "description": "Result of extracting fields from a document",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "Results": {
          "description": "Field value results from the extraction operation",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FieldAdvancedValue"
          }
        },
        "ConfidenceScore": {
          "format": "double",
          "description": "Confidence score between 0.0 and 1.0, where values > 0.8 indicate high confidence",
          "type": "number"
        }
      },
      "additionalProperties": false
    },
    "ExtractFieldsAndTablesResponse": {
      "description": "Result of extracting fields from a document",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "FieldResults": {
          "description": "Field value results from the extraction operation",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FieldValue"
          }
        },
        "TableResults": {
          "description": "Table value results from the extraction operation",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TableResult"
          }
        }
      },
      "additionalProperties": false
    },
    "ExtractFieldsResponse": {
      "description": "Result of extracting fields from a document",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "Results": {
          "description": "Field value results from the extraction operation",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FieldValue"
          }
        }
      },
      "additionalProperties": false
    },
    "ExtractTablesResponse": {
      "description": "Result of extracting tables from a document",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "TableResults": {
          "description": "Table value results from the extraction operation",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TableResult"
          }
        }
      },
      "additionalProperties": false
    },
    "ExtractTextResponse": {
      "description": "Result of extracting text from a document",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "PageResults": {
          "description": "Page results from the extraction operation",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtractedTextPage"
          }
        }
      },
      "additionalProperties": false
    },
    "ExtractedBarcodeItem": {
      "description": "Extracted barcode result",
      "type": "object",
      "properties": {
        "BarcodeType": {
          "description": "Type of the barcode identified, possible values are: AZTEC, CODABAR, CODE_39, CODE_93, CODE_128, DATA_MATRIX, EAN_8, EAN_13, ITF, MAXICODE, PDF_417, QR_CODE, RSS_14, RSS_EXPANDED, UPC_A, UPC_E, All_1D, UPC_EAN_EXTENSION, MSI, PLESSEY, IMB, UNKNOWN",
          "type": "string"
        },
        "BarcodeValue": {
          "description": "Value of the barcode as a string",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ExtractedTextPage": {
      "description": "Extracted page from an input document",
      "type": "object",
      "properties": {
        "PageNumber": {
          "format": "int32",
          "description": "Page number index, 1-based",
          "type": "integer"
        },
        "TextResult": {
          "description": "Text content of the page",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "FieldAdvancedValue": {
      "description": "Field value result of extracting fields from a document",
      "type": "object",
      "properties": {
        "FieldName": {
          "description": "Name of the field (note that spaces will be replaced with underscore)",
          "type": "string"
        },
        "FieldStringValue": {
          "description": "String value of the field that was extractged from the document",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "FieldToExtract": {
      "description": "Field to extract from a document using AI",
      "type": "object",
      "properties": {
        "FieldName": {
          "description": "Name of the field to extract",
          "type": "string"
        },
        "FieldOptional": {
          "description": "Optional: True if the field is optional, false if required (default)",
          "type": "boolean"
        },
        "FieldDescription": {
          "description": "Optional but recommended: Description of the field - use this to describe what the field is, how it is formatted, what is unique about it, etc.",
          "type": "string"
        },
        "FieldExample": {
          "description": "Optional: Example label or value of the field",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "FieldValue": {
      "description": "Field value result of extracting fields from a document",
      "type": "object",
      "properties": {
        "FieldName": {
          "description": "Name of the field (note that spaces will be replaced with underscore)",
          "type": "string"
        },
        "FieldStringValue": {
          "description": "Primary or first string value of the field that was extractged from the document",
          "type": "string"
        },
        "AdditionalFieldStringValues": {
          "description": "Additional values for this field when the same field is present with multiple values, for example, if two instances of the same form occur in the same document",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "additionalProperties": false
    },
    "PolicyRule": {
      "type": "object",
      "properties": {
        "RuleId": {
          "description": "",
          "type": "string"
        },
        "RuleType": {
          "description": "Possible values are ALLOW and DENY",
          "type": "string"
        },
        "RuleDescription": {
          "description": "Description of the rule in natural language, e.g. Do not allow documents that contain offensive language",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "PolicyRuleViolation": {
      "description": "Instances of a policy rule violation",
      "type": "object",
      "properties": {
        "RuleId": {
          "description": "ID of the rule; if no ID was supplied, the ID is the 1-based index of the rule",
          "type": "string"
        },
        "RuleViolationRiskScore": {
          "format": "double",
          "description": "Risk score between 0.0 and 1.0 where values above 0.5 are increasing levels of risk",
          "type": "number"
        },
        "RuleViolationRationale": {
          "description": "AI natural language rationale for why this policy was violated",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "SplitDocumentResponse": {
      "description": "Result of splitting a document into sub-documents",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "SubDocuments": {
          "description": "The sub-documents that were identified and extracted from the input document",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubDocument"
          }
        }
      },
      "additionalProperties": false
    },
    "SubDocument": {
      "description": "A sub-document extracted from a combined document",
      "type": "object",
      "properties": {
        "StartPage": {
          "format": "int32",
          "description": "Starting page number (1-indexed) of this sub-document in the original document",
          "type": "integer"
        },
        "EndPage": {
          "format": "int32",
          "description": "Ending page number (1-indexed) of this sub-document in the original document",
          "type": "integer"
        },
        "DocumentDescription": {
          "description": "Description of the sub-document including document type and any identifying information such as person name",
          "type": "string"
        },
        "FileBytes": {
          "format": "byte",
          "description": "The extracted sub-document as PDF file bytes",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "SummarizeDocumentResponse": {
      "description": "Result of summarizing a document",
      "type": "object",
      "properties": {
        "Successful": {
          "description": "True if successful, false otherwise",
          "type": "boolean"
        },
        "DocumentSummaryText": {
          "description": "Summary of the document",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "TableResult": {
      "description": "Table extracted from a document",
      "type": "object",
      "properties": {
        "Title": {
          "description": "Title of the table (optional)",
          "type": "string"
        },
        "Rows": {
          "description": "Rows of the table",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TableResultRow"
          }
        }
      },
      "additionalProperties": false
    },
    "TableResultCell": {
      "description": "Cell of a row of a table extracted from a document",
      "type": "object",
      "properties": {
        "CellHeader": {
          "description": "Cell column header",
          "type": "string"
        },
        "CellValue": {
          "description": "Cell value as a string",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "TableResultRow": {
      "description": "Row of a table extracted from a document",
      "type": "object",
      "properties": {
        "Cells": {
          "description": "Cells in the row",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TableResultCell"
          }
        }
      },
      "additionalProperties": false
    }
  },
  "securityDefinitions": {
    "Apikey": {
      "type": "apiKey",
      "name": "Apikey",
      "in": "header",
      "description": "API Key Authentication"
    }
  },
  "security": [
    {
      "Apikey": [ ]
    }
  ]
}

